/* Desktop */
@media screen and (max-aspect-ratio: 16/9) {
  .landscapeReminder {
    display: none;
  }

  .videoContainer {
    /* Desktop video aspect ratio */
    aspect-ratio: 16 / 9;
  }

  .scrollTextContainer {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 85%;
    width: 15rem;
    height: 5rem;
    transform: translate(-50%, -50%);
  }

  .animateButtonWrapper {
    display: contents;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

}
/* Mobile */
@media screen and (max-aspect-ratio: 1/1) {
  .landscapeReminder {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50px;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .videoContainer {
    /* Mobile video aspect ratio */
    aspect-ratio: 9 / 20;
  }

  .scrollTextContainer {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 75%;
    width: 15rem;
    height: 5rem;
    transform: translate(-50%, -50%);
  }

  .animateButtonWrapper {
    display: contents;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

}

.videoContainer {
  position: relative;
  width: 100%;
}

.video {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 74%;
}